/* Gold Titanium skin created for Cobalt on March 2014 by KSR */

.HeaderBanner {
    background-color: #8b181b;
/* Title */
    color: #ffffff;
}

/* Subtitle */
.HeaderBanner span {
    color: #ffffff;
}

/* Top Navigation */
.HeaderMenu {
    background-color: #8b181b;
}

.Footer {
    color: #33363b;
    background-color: #fefefe;
}

a:link {
    color: #8b181b;
}
a:visited {
    color: #8b181b;
}
a:hover {
    color: #8b181b;
}
a:active {
    color: #8b181b;
}

a.footer:link {
    color : #33363b;
}
a.footer:visited {
    color : #33363b;
}
a.footer:hover {
    color : #33363b;
}
a.footer:active {
    color : #33363b;
}

/* Top Navigation */
a.menu:link {
    color : #b89e41;
}
a.menu:visited {
    color : #b89e41;
}
a.menu:hover {
    color : #8b181b;
}
a.menu:active {
    color : #8b181b;
}

/* Control Center */
a.linkCC:link {
    color: #0d0c11;
}
a.linkCC:visited {
    color: #0d0c11;
}
a.linkCC:hover {
    color: #0d0c11;
    background-color: #a1cfd4;
}
a.linkCC:active {
    color: #0d0c11;
}

/* List View */
a.listRowEven:link {
    color: #8b181b;
}
a.listRowEven:visited {
    color: #8b181b;
}
a.listRowEven:hover {
    color: #8b181b;
}
a.listRowEven:active {
    color: #8b181b;
}

/* Sort arrows */
a.listRowHead:link {
    color: #262626;
}
a.listRowHead:visited {
    color: #262626;
}
a.listRowHead:hover {
    color: #262626;
}
a.listRowHead:active {
    color: #262626;
}

/* List View */
a.listRowOdd:link {
    color: #8b181b;
}
a.listRowOdd:visited {
    color: #8b181b;
}
a.listRowOdd:hover {
    color: #8b181b;
}
a.listRowOdd:active {
    color: #8b181b;
}

/* 'Add new record' etc. */
a.listview:link {
    color: #e5c100;
}
a.listview:visited {
    color: #e5c100;
}
a.listview:hover {
    color: #e5c100;
}
a.listview:active {
    color: #e5c100;
}

/* Side Navigation */
a.sidebar {
    color: #0d0c11;
}

a.sidebar:hover {
    color: #0d0c11;
}

body {
    background-color: #69666d;
    color: #0d0c11;
}

div.container {

}

div.container_footer {

}

div.container_icons_CC {

}

div.file_upload {
    background-color: #ffffff;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}

fieldset {
    background-color: #ffffff;
}

/* Container around the windows (visible in Cobalt Default) */
fieldset.container {
    background-color: #69666d;
}

/* Container around A/E/D/V window */
fieldset.container_invisible {
    background-color: #69666d;
}

/* Head of Control Center and A/E/D/V windows */
fieldset.top {
    background-color: #46454a;
    border-color: #46454a;
    color: #ccac00;
}

/* Body of Control Center and A/E/D/V windows */
fieldset.middle {
    background-color: #ffffff;
    border-color: #ffffff;
}

/* Foot of A/E/D/V window */
fieldset.bottom {
    background-color: #46454a;
    border-color: #46454a;
    color: #d05a00;
}

fieldset.middle_top {
    background-color: #ffffff;
    border-color: #ffffff;
}

fieldset.fieldset_group {

}

/* Fieldset (if any) Label in A/E/D/V */
fieldset legend {
    background-color: #fefefe;
    border-color: #aaaaaa;
}

img {

}

input {

}

input[type=button] {
    background-color: #c0c0c0;
    color: #0d0c11;
}
input[type=button]:hover {
    background-color: #b89e41;
    color: #8b181b;
}
input[type=button]:active {

}
input[type=button]:focus {
    background-color: #b89e41;
    color: #8b181b;
}

input[type=checkbox] {

}
input[type=checkbox]:focus {

}

input[type=file] {

}
input[type=file]:focus {
    outline: #3399ff solid 1px;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=password] {
    background-color: #ffffff;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
input[type=password]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=radio] {
    border-color: #aaaaaa;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
input[type=radio]:focus {
    outline: #3399ff solid 1px;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=submit] {
    background-color: #c0c0c0;
    color: #0d0c11;
}
input[type=submit]:hover {
    background-color: #b89e41;
    color: #8b181b;
}
input[type=submit]:active {

}
input[type=submit]:focus {
    background-color: #b89e41;
    color: #8b181b;
}
input[type=submit].cancel:hover {

}
input[type=submit].submit:hover {

}

input[type=text] {
    background-color: #ffffff;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}
input[type=text]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

ol.normal {

}

option {

}

.label {

}

.messageError {
    background-color: #cc3333;
    color: #ffffff;
    -moz-box-shadow: 5px 5px 2px #505050;
    -webkit-box-shadow: 5px 5px 2px #505050;
    box-shadow: 5px 5px 2px #505050;
}
.messageError a:link {
    color: #0000ff;
}
.messageError a:visited {
    color: #0000ff;
}
.messageError a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageError a:active {
    color: #0000ff;
}

.messageInfo {
    background-color: #76aadb;
    color: #000000;
    -moz-box-shadow: 5px 5px 2px #505050;
    -webkit-box-shadow: 5px 5px 2px #505050;
    box-shadow: 5px 5px 2px #505050;
}
.messageInfo a:link {
    color: #0000ff;
}
.messageInfo a:visited {
    color: #0000ff;
}
.messageInfo a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageInfo a:active {
    color: #0000ff;
}

.messageSystem {
    background-color: #66cc66;
    color: #000000;
    -moz-box-shadow: 5px 5px 2px #505050;
    -webkit-box-shadow: 5px 5px 2px #505050;
    box-shadow: 5px 5px 2px #505050;
}
.messageSystem a:link {
    color: #0000ff;
}
.messageSystem a:visited {
    color: #0000ff;
}
.messageSystem a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageSystem a:active {
    color: #0000ff;
}

.messageTip {
    background-color: #fffacc;
    color: #000000;
    -moz-box-shadow: 5px 5px 2px #505050;
    -webkit-box-shadow: 5px 5px 2px #505050;
    box-shadow: 5px 5px 2px #505050;
}
.messageTip a:link {
    color: #0000ff;
}
.messageTip a:visited {
    color: #0000ff;
}
.messageTip a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageTip a:active {
    color: #0000ff;
}

/* Heading */
.pageHeaderText {
    color: #ffffff;
}

.pageHeaderDiv {

}

p.detail_view {

}

p.multifield_detail_view {

}

p.multifield_detail_view_label {

}

select {
    background-color: #ffffff;
    border-color: #aaaaaa;
    color: #000000;
}
select:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

table {

}

table.input_form td {

}

table.listView {

}

/* Side Navigation and List View table body cells */
table.listView td {
    border-color: #69666d;
}

/* Side Navigation and List View table head cells */
table.listView tr[class=listRowHead] td {
    background-color: #b89e41;
    border-top-color: #69666d;
    color: #262626;
}

td {

}

/* Top Navigation */
td.menu {

}

td.menu:hover {
    background-color: #b89e41;
}

td.oper_col {

}

/* Module Control, Set User Passports, & List View.cells */
td.listCell:hover {
    background-color: #a1cfd4;
}

tr.listRowEven {
    background-color: #e5e5e5;
}
tr.listRowEven:hover {
    background-color: #a1cfd4;
}

/* Module Control and Set User Passports.rows */
tr.listRowEvenNoHighlight {
    background-color: #ffffff;
}

/* Side Navigation and List View table head row */
tr.listRowHead {

}

tr.listRowOdd {
    background-color: #f2f2f2;
}
tr.listRowOdd:hover {
    background-color: #a1cfd4;
}

/* Module Control and Set User Passports.rows */
tr.listRowOddNoHighlight {
    background-color: #eeeeee;
}

/* Filter + Page # in List View */
tr.listViewBar {
    background-color: #8b181b;
    color: #fefefe;
}

/* 'You are logged in as' in Top Navigation */
.text-normal {
    color: #ffffff;
}

/* Username in Top Navigation */
.text-info {
    color: #ffffff;
}

textarea {
    background-color: #ffffff;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
textarea:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

.throbber {


}

.throbber_screen_locker {
    background-color: rgba(255, 255, 255, .6);
}
