/* Salmon Impression skin created for Cobalt on March 2014 by KSR */

.HeaderBanner {
    background-color: #edd19c;
/* Title */
    color: #4d3b27;
}

/* Subtitle */
.HeaderBanner span {
    color: #4d3b27;
}

/* Top Navigation */
.HeaderMenu {
    background-color: #a88fa0;
}

.Footer {
    color: #33363b;
    background-color: #fefefe;
}

a:link {
    color: #b35050;
}
a:visited {
    color: #b35050;
}
a:hover {
    color: #b35050;
}
a:active {
    color: #b35050;
}

a.footer:link {
    color : #33363b;
}
a.footer:visited {
    color : #33363b;
}
a.footer:hover {
    color : #33363b;
}
a.footer:active {
    color : #33363b;
}

/* Top Navigation */
a.menu:link {
    color : #6e3c51;
}
a.menu:visited {
    color : #6e3c51;
}
a.menu:hover {
    color : #f2eae1;
}
a.menu:active {
    color : #f2eae1;
}

/* Control Center */
a.linkCC:link {
    color: #4d3b27;
}
a.linkCC:visited {
    color: #4d3b27;
}
a.linkCC:hover {
    color: #4d3b27;
    background-color: #ff9985;
}
a.linkCC:active {
    color: #4d3b27;
}

/* List View */
a.listRowEven:link {
    color: #b35050;
}
a.listRowEven:visited {
    color: #b35050;
}
a.listRowEven:hover {
    color: #b35050;
}
a.listRowEven:active {
    color: #b35050;
}

/* Sort arrows */
a.listRowHead:link {
    color: #4d3b27;
}
a.listRowHead:visited {
    color: #4d3b27;
}
a.listRowHead:hover {
    color: #4d3b27;
}
a.listRowHead:active {
    color: #4d3b27;
}

/* List View */
a.listRowOdd:link {
    color: #b35050;
}
a.listRowOdd:visited {
    color: #b35050;
}
a.listRowOdd:hover {
    color: #b35050;
}
a.listRowOdd:active {
    color: #b35050;
}

/* 'Add new record' etc. */
a.listview:link {
    color: #4d3b27;
}
a.listview:visited {
    color: #4d3b27;
}
a.listview:hover {
    color: #4d3b27;
}
a.listview:active {
    color: #4d3b27;
}

/* Side Navigation */
a.sidebar {
    color: #4d3b27;
}

a.sidebar:hover {
    color: #4d3b27;
}

body {
    background-color: #edd19c;
    color: #4d3b27;
}

div.container {

}

div.container_footer {

}

div.container_icons_CC {

}

div.file_upload {
    background-color: #f8f8e6;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}

fieldset {
    background-color: #f2eae1;
}

/* Container around the windows (visible in Cobalt Default) */
fieldset.container {
    background-color: #edd19c;
}

/* Container around A/E/D/V window */
fieldset.container_invisible {
    background-color: #edd19c;
}

/* Head of Control Center and A/E/D/V windows */
fieldset.top {
    background-color: #9e9937;
    border-color: #9e9937;
    color: #4d3b27;
}

/* Body of Control Center and A/E/D/V windows */
fieldset.middle {
    background-color: #f2eae1;
    border-color: #f2eae1;
}

/* Foot of A/E/D/V window */
fieldset.bottom {
    background-color: #f0655d;
    border-color: #f0655d;
    color: #4d3b27;
}

fieldset.middle_top {

}

fieldset.fieldset_group {

}

/* Fieldset (if any) Label in A/E/D/V */
fieldset legend {
    background-color: #f2eae1;
    border-color: #aaaaaa;
}

img {

}

input {

}

input[type=button] {
    background-color: #cc99cc;
    color: #6e3c51;
}
input[type=button]:hover {
    background-color: #734357;
    color: #f2eae1;
}
input[type=button]:active {

}
input[type=button]:focus {
    background-color: #734357;
    color: #f2eae1;
}

input[type=checkbox] {

}
input[type=checkbox]:focus {

}

input[type=file] {

}
input[type=file]:focus {
    outline: #3399ff solid 1px;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=password] {
    background-color: #f8f8e6;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
input[type=password]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=radio] {
    border-color: #aaaaaa;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
input[type=radio]:focus {
    outline: #3399ff solid 1px;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=submit] {
    background-color: #cc99cc;
    color: #6e3c51;
}
input[type=submit]:hover {
    background-color: #734357;
    color: #f2eae1;
}
input[type=submit]:active {

}
input[type=submit]:focus {
    background-color: #734357;
    color: #f2eae1;
}
input[type=submit].cancel:hover {

}
input[type=submit].submit:hover {

}

input[type=text] {
    background-color: #f8f8e6;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #ddd;
    -moz-box-shadow: 0 1px 2px #ddd;
    -webkit-box-shadow: 0 1px 2px #ddd;
}
input[type=text]:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

ol.normal {

}

option {

}

.label {

}

.messageError {
    background-color: #cc3333;
    color: #ffffff;
    -moz-box-shadow: 0px 0px 6px #666 ;
    -webkit-box-shadow: 0px 0px 6px #666 ;
    box-shadow: 0px 0px 6px #666 ;
}
.messageError a:link {
    color: #0000ff;
}
.messageError a:visited {
    color: #0000ff;
}
.messageError a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageError a:active {
    color: #0000ff;
}

.messageInfo {
    background-color: #76aadb;
    color: #000000;
    -moz-box-shadow: 0px 0px 6px #666 ;
    -webkit-box-shadow: 0px 0px 6px #666 ;
    box-shadow: 0px 0px 6px #666 ;
}
.messageInfo a:link {
    color: #0000ff;
}
.messageInfo a:visited {
    color: #0000ff;
}
.messageInfo a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageInfo a:active {
    color: #0000ff;
}

.messageSystem {
    background-color: #66cc66;
    color: #000000;
    -moz-box-shadow: 0px 0px 6px #666 ;
    -webkit-box-shadow: 0px 0px 6px #666 ;
    box-shadow: 0px 0px 6px #666 ;
}
.messageSystem a:link {
    color: #0000ff;
}
.messageSystem a:visited {
    color: #0000ff;
}
.messageSystem a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageSystem a:active {
    color: #0000ff;
}

.messageTip {
    background-color: #fffacc;
    color: #000000;
    -moz-box-shadow: 0px 0px 6px #666 ;
    -webkit-box-shadow: 0px 0px 6px #666 ;
    box-shadow: 0px 0px 6px #666 ;
}
.messageTip a:link {
    color: #0000ff;
}
.messageTip a:visited {
    color: #0000ff;
}
.messageTip a:hover {
    color: #0000ff;
    text-shadow: 1px 1px 10 #fff;
}
.messageTip a:active {
    color: #0000ff;
}

/* Heading */
.pageHeaderText {
    color: #4d3b27;
}

.pageHeaderDiv {

}

p.detail_view {

}

p.multifield_detail_view {

}

p.multifield_detail_view_label {

}

select {
    background-color: #f8f8e6;
    border-color: #aaaaaa;
    color: #000000;
}
select:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

table {

}

table.input_form td {

}

table.listView {

}

/* Side Navigation and List View table body cells */
table.listView td {
    border-color: #edd19c;
}

/* Side Navigation and List View table head cells */
table.listView tr[class=listRowHead] td {
    background-color: #e06565;
    border-top-color: #edd19c;
    color: #4d3b27;
}

td {

}

/* Top Navigation */
td.menu {

}

td.menu:hover {
    background-color: #734357;
}

td.oper_col {

}

/* Module Control, Set User Passports, & List View.cells */
td.listCell:hover {
    background-color: #d9d168;
}

tr.listRowEven {
    background-color: #f2eae1;
}
tr.listRowEven:hover {
    background-color: #d9d168;
}

/* Module Control and Set User Passports.rows */
tr.listRowEvenNoHighlight {
    background-color: #ffffff;
}

/* Side Navigation and List View table head row */
tr.listRowHead {

}

tr.listRowOdd {
    background-color: #fefefe;
}
tr.listRowOdd:hover {
    background-color: #d9d168;
}

/* Module Control and Set User Passports.rows */
tr.listRowOddNoHighlight {
    background-color: #eeeeee;
}

/* Filter + Page # in List View */
tr.listViewBar {
    background-color: #9e9937;
    color: #fefefe;
}

/* 'You are logged in as' in Top Navigation */
.text-normal {
    color: #734357;
}

/* Username in Top Navigation */
.text-info {
    color: #734357;
}

textarea {
    background-color: #f8f8e6;
    border-color: #aaaaaa;
    color: #000000;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
textarea:focus {
    border-color: #3399ff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

.throbber {


}

.throbber_screen_locker {
    background-color: rgba(255, 255, 255, .6);
}
