/* Red Decadence skin created for Cobalt on July 2014 by ASC*/

.HeaderBanner {
    background: #0d6d00;
    background: url('../images/modern_eden/eden-header.png'), -moz-linear-gradient(left, #119000, #0d6d00) no-repeat, #119000;
    background: url('../images/modern_eden/eden-header.png'), -webkit-linear-gradient(left, #119000, #0d6d00) no-repeat, #119000;
    background: url('../images/modern_eden/eden-header.png'), -o-linear-gradient(left, #119000, #0d6d00) no-repeat, #119000;

    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}

.HeaderBanner span {
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}

.HeaderMenu {
    background-color: #ffffff;
}

.Footer {
    color: #000000;
    background-color: #ffffff;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
    /*
    text-shadow: 1px 1px 10 #fff;*/
}
a:active {
    color: #000000;
}

a.footer:link {
    color : #000000;
}
a.footer:visited {
    color : #000000;
}
a.footer:hover {
    color : #000000;
}
a.footer:active {
    color : #000000;
}

a.menu:link {
    color : #000000;
    border: 1px black;
}
a.menu:visited {
    color : #000000;
}
a.menu:hover {
    color : #000000;
}
a.menu:active {
    color : #000000;
}

a.linkCC:link {
    color: #000000;
    border-color: #ffffff;
}
a.linkCC:visited {
    color: #000000;
    border-color: #ffffff;
}
a.linkCC:hover {
    color: #000000;
    border-color: #ffffff;
    background: #0d6d00;
    background: -moz-linear-gradient(left, #119000, #ffffff) no-repeat;
    background: -webkit-linear-gradient(left, #119000, #ffffff) no-repeat;
    background: -o-linear-gradient(left, #119000, #ffffff) no-repeat;
}
a.linkCC:active {
    color: #000000;
    border-color: #ffffff;
}

a.listRowEven:link {
    color: #000000;
}
a.listRowEven:visited {
    color: #000000;
}
a.listRowEven:hover {
    color: #000000;
}
a.listRowEven:active {
    color: #000000;
}

a.listRowHead:link {
    color: #000000;
}
a.listRowHead:visited {
    color: #000000;
}
a.listRowHead:hover {
    color: #000000;
}
a.listRowHead:active {
    color: #000000;
}

a.listRowOdd:link {
    color: #000000;
}
a.listRowOdd:visited {
    color: #000000;
}
a.listRowOdd:hover {
    color: #000000;
}
a.listRowOdd:active {
    color: #000000;
}

a.listview:link {
    color: #0d6d00;
}
a.listview:visited {
    color: #0d6d00;
}
a.listview:hover {
    color: #0d6d00;
}
a.listview:active {
    color: #0d6d00;
}

a.sidebar {
    color: #000000;
}

body {
    background: url('../images/modern_eden/eden-background-hex.png'), #ffffff;
}

div.container {

}

div.container_footer {

}

div.container_icons_CC {

}

div.file_upload {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}

fieldset {
    background-color: #ffffff;
    color: #000000;
}

fieldset.container {
    background: transparent;
    border-color: transparent;
}

fieldset.container_invisible {
    background-color: transparent;
    border-color: transparent;
}

fieldset.top {
    background: #0d6d00;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -moz-linear-gradient(left, #119000, #0d6d00), #119000;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -webkit-linear-gradient(left, #119000, #0d6d00), #119000;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -o-linear-gradient(left, #119000, #0d6d00), #119000;
    border-color: transparent;

    text-shadow: 1px 1px 3px #000;
    color: #ffffff;
}

fieldset.middle {
    background-color: #ffffff;
    border-color: transparent;
}

fieldset.bottom {
    border-color: transparent;
    background-color: #ffffff;
}

fieldset.middle_top {
    border-color: #transparent;
    background-color: #ffffff;

}

fieldset.fieldset_group {

}

fieldset legend {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}

img {

}

input {

}


input[type=button] {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
input[type=button]:hover {
    color: #a5a5a5;
    border-color: #a5a5a5;
    background-color: #ffffff;
}
input[type=button]:active {

}
input[type=button]:focus {
    color: #a5a5a5;
    border-color: #a5a5a5;
    background-color: #ffffff;
}

input[type=checkbox] {

}
input[type=checkbox]:focus {

}

input[type=file] {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
input[type=file]:focus {
    outline: #119000 solid 1px;
    -moz-box-shadow: 1px 1px 3px #119000 inset;
    -webkit-box-shadow: 1px 3px 1px #119000 inset;
    box-shadow: 1px 1px 3px #119000 inset;
}

input[type=password] {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
input[type=password]:focus {
    border-color: #119000;
    -moz-box-shadow: 1px 1px 3px #119000 inset;
    -webkit-box-shadow: 1px 3px 1px #119000 inset;
    box-shadow: 1px 1px 3px #119000 inset;
}

input[type=radio] {
    border-color: #aaaaaa;
    box-shadow: 0 1px 2px #dddddd;
    -moz-box-shadow: 0 1px 2px #dddddd;
    -webkit-box-shadow: 0 1px 2px #dddddd;
}
input[type=radio]:focus {
    outline: #119000 solid 1px;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

input[type=submit] {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
input[type=submit]:hover {
    color: #a5a5a5;
    border-color: #a5a5a5;
    background-color: #ffffff;
}
input[type=submit]:active {

}
input[type=submit]:focus {
    color: #a5a5a5;
    border-color: #a5a5a5;
    background-color: #ffffff;
}
input[type=submit].cancel:hover, input[type=submit].cancel:focus {
    border-color: #cc0000;
    color: #cc0000;
}
input[type=submit].submit:hover, input[type=submit].submit:focus {
    border-color: #119000;
    color: #119000;
}

input[type=text] {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
input[type=text]:focus {
    border-color: #119000;
    -moz-box-shadow: 1px 1px 3px #119000 inset;
    -webkit-box-shadow: 1px 3px 1px #119000 inset;
    box-shadow: 1px 1px 3px #119000 inset;
}

ol.normal {

}

option {

}

.label {

}

.messageError {
    background: url('../images/modern_eden/eden-header-smallhex.png'), #cc3333;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #cc3333;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #cc3333;
    background-color: #cc3333;
    color: #ffffff;
    border-color: #ff0000;
}
.messageError a:link {
    color: #ff0000;
}
.messageError a:visited {
    color: #ff0000;
}
.messageError a:hover {
    color: #ff0000;
    text-shadow: 1px 1px 10 #000;
}
.messageError a:active {
    color: #ff0000;
}

.messageError td {
    color: #ffffff;
}

.messageInfo {
    background: url('../images/modern_eden/eden-header-smallhex.png'), #76aadb;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #76aadb;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #76aadb;
    background-color: #76aadb;
    color: #ffffff;
    border-color: #3366cc;
}
.messageInfo a:link {
    color: #3366cc;
}
.messageInfo a:visited {
    color: #3366cc;
}
.messageInfo a:hover {
    color: #3366cc;
    text-shadow: 1px 1px 10 #000;
}
.messageInfo a:active {
    color: #3366cc;
}

.messageInfo td {
    color: #ffffff;
}

.messageSystem {
    background: url('../images/modern_eden/eden-header-smallhex.png'), #66cc66;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #66cc66;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #66cc66;
    background-color: #66cc66;
    color: #ffffff;
    border-color: #006600;
}
.messageSystem a:link {
    color: #006600;
}
.messageSystem a:visited {
    color: #006600;
}
.messageSystem a:hover {
    color: #006600;
    text-shadow: 1px 1px 10 #000;
}
.messageSystem a:active {
    color: #006600;
}

.messageSystem td {
    color: #ffffff;
}

.messageTip {
    background: url('../images/modern_eden/eden-header-smallhex.png'), #fffacc;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #fffacc;
    background: url('../images/modern_eden/eden-header-smallhex.png'), #fffacc;
    background-color: #fffacc;
    color: #000000;
    border-color: #d2cd54;
}
.messageTip a:link {
    color: #d2cd54;
}
.messageTip a:visited {
    color: #d2cd54;
}
.messageTip a:hover {
    color: #d2cd54;
    text-shadow: 1px 1px 10 #000;
}
.messageTip a:active {
    color: #d2cd54;
}

.messageTip td {
    color: #000000;
}


.pageHeaderText {
    color: #000000;
    text-shadow: 2px 2px 1px #a5a5a5;
}

.pageHeaderDiv {

}

p.detail_view {

}

p.multifield_detail_view {

}

p.multifield_detail_view_label {

}

select {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
select:focus {
    border-color: #119000;
    -moz-box-shadow: 1px 1px 3px #119000 inset;
    -webkit-box-shadow: 1px 3px 1px #119000 inset;
    box-shadow: 1px 1px 3px #119000 inset;
}

table {
    color: #000000;
}

table.input_form td {

}

table.listView {

}

table.listView td {
}

table.listView tr[class=listRowHead] td {

}

td {

}

td.menu  {
}

td.menu:hover {
    background: #119000;
    background: -moz-linear-gradient(top, #119000, #ffffff) no-repeat;
    background: -webkit-linear-gradient(top, #119000, #ffffff) no-repeat;
    background: -o-linear-gradient(top, #119000, #ffffff) no-repeat;
}

td.oper_col {

}

td.listCell:hover {
    background: #119000;
    background: -moz-linear-gradient(left, #119000, #0d6d00) no-repeat;
    background: -webkit-linear-gradient(left, #119000, #0d6d00) no-repeat;
    background: -o-linear-gradient(left, #119000, #ffffff) no-repeat;
}

tr.listRowEven {
    background-color: #cccccc;
}
tr.listRowEven:hover {
    background: #119000;
    background: -moz-linear-gradient(left, #119000, #cccccc) no-repeat;
    background: -webkit-linear-gradient(left, #119000, #cccccc) no-repeat;
    background: -o-linear-gradient(left, #119000, #cccccc) no-repeat;
}

tr.listRowEvenNoHighlight {
    background-color: #cccccc;
}

tr.listRowHead {
    background: #0d6d00;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -moz-linear-gradient(left, #119000, #0d6d00), #119000;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -webkit-linear-gradient(left, #119000, #0d6d00), #119000;
    background: url('../images/modern_eden/eden-header-smallhex.png'), -o-linear-gradient(left, #119000, #0d6d00), #119000;
    color: #ffffff;
}

tr.listRowOdd {
    background-color: #ffffff;
}
tr.listRowOdd:hover {
    background: #119000;
    background: -moz-linear-gradient(left, #119000, #ffffff) no-repeat;
    background: -webkit-linear-gradient(left, #119000, #ffffff) no-repeat;
    background: -o-linear-gradient(left, #119000, #ffffff) no-repeat;
}

tr.listRowOddNoHighlight {
    background-color: #ffffff;
}

tr.listViewBar {
    background-color: #ffffff;
    color: #000000;
}

.text-normal {

}

.text-info {
    color: #119000;
}

textarea {
    color: #000000;
    border-color: #000000;
    background-color: #ffffff;
}
textarea:focus {
    border-color: #119000;
    -moz-box-shadow: 1px 1px 3px #119000 inset;
    -webkit-box-shadow: 1px 3px 1px #119000 inset;
    box-shadow: 1px 1px 3px #119000 inset;
}

.throbber {


}

.throbber_screen_locker {
    background-color: rgba(255, 255, 255, .6);
}
